body {
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 65px;
  background-color: #8FC1D4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  background-color: #FFB740;
  margin-top: auto;
  padding: 15px;
}

h1, h2, h3, h4, h5, h6, p, strong, a {
  font-family: 'Montserrat', sans-serif;
}

#navbar {
  min-height: 50px;
}

#paragraphs {
  min-height: 100px;
}

#diplomas {
  min-height: 30px;
}

#diplomas {
  min-height: 120px;
}

#rank {
  min-height: 20px;
}

#footer {
  min-height: 40px;
}

.width-height-image {
  width: 900px;
  height: 100px;
}

.div1 {
  margin-bottom: 200px;
}

.cat_img {
  margin-bottom: 90px;
  margin-right: 40px;
}

.div2 {
  margin-top: 200px;
  margin-bottom: 20px;
}

.right {
  text-align: right;
}

.a_href {
  margin: 85px;
}

.image {
  margin: 30px;
}

.text-align {
  text-align: center;
}

.div-style-1 {
  position: relative;
}

.heading-style-1 {
  text-align: center;
  color: white;
  margin: 0;
}

.heading-style-2 {
  margin: 0;
  text-align: left;
  color: white;
}

.custom_color {
  color: #FF4C29;
}

.custom_color1 {
  color: #5D8233;
}

.custom_color2 {
  color: gray;
}

.custom_color3 {
  color: #E8E46E;
}

.navbar {
  width: 98.8%;
  background-color: #B61919;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 10px;
}

.left {
  margin-left: 21px;
  margin-right: 21px;
  text-align: left;
}

.paragraph {
  margin-left: 38px;
  margin-right: 38px;
}
